a {
    text-decoration: none !important;
    color: #000 !important;
    font-weight: bold;
}
.pdfReaderIcon {
    min-width: 40px !important;
    border: 1px solid #CCC;
    padding: 5px;
    background: #fff;
}
.pdfReaderIcon:hover {
    border: 1px solid #AFBAFB;
    background: #dee4ff;
}
.profileButton {
    background: none;
    border: none;
    color: #1060DD;
}
.nav-link.text-white.font-weight-bold.px-3.my-1 {
    font-size: 18px;
}
.book-card .card-title {
    color: #121213;
}
