.graphInfo {
	z-index: 56;
    width: auto;
    position: absolute;
    top: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.graphInfo>.nav>li>a {
	color: #7575de;
	font-weight: bold;
	padding: 0;
	text-align: left;
}
.graphInfo>.nav>li:hover>a {
	color: blue;
}
.graphInfo>.nav>li.nav-item {
	background: #5f0c0c12;
    padding: 3px 5px;
    border-top: 1px solid #ddd;
}
.graphInfo>.nav>li.nav-item:last-child {
	border-bottom: 1px solid #ddd;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #fbfbfb;
    background: #9cccf952;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
	color:  #fff;
}
.suggestionInput {
	font-size: 19px;
	padding: 22px 12px;
	border-radius: 0;
}
.table tbody{
	font-size: 15px;
}
.home-search > .awesomplete {
	width: 89%;
}
.awesomplete > input {
	height: 46px;
}
.carousel-inner > .item {
	max-height: 320px;
}
.new_book h2 span {
	background: #d5e5e6;
}